<div style="float: left; width: 145px;">
    <i class="fa fa-warning fa-5x" style="margin: 40px;"></i>
</div>
<div style="float: left; width: 404px; padding-left: 16px;">
    <p>{{ __( 'Please choose what to do with these associations.', 'wpcf' ) }}</p>

    <p>
        <b>{{ __( 'Keep Associations', 'wpcf') }}</b><br />
        {{ __( 'All created associations created by the Post Reference Field will be kept.
        This is useful if you want to move the Post Reference Field to another group.
        You can assign it to another group by using the "Choose from previously created fields" option.', 'wpcf') }}
    </p>

    <p>
        <b>{{ __( 'Delete Associations', 'wpcf') }}</b><br />
        {{ __( 'All created associations created by the Post Reference Field will be deleted.', 'wpcf') }}
    </p>
</div>